<div th:replace="fragments/header"></div>
<div class="container">
  <center>
    <h1>Update Conference</h1>
    <br />

    <form
      action="/update-conference"
      method="POST"
      th:object="${conference}"
    >

    <input type="hidden" th:field="*{id}"/>
    
      <center>
        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Name</span>
          <input type="text" th:field="*{nama}" class="form-control col-9" />
        </div>

        <br />

        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Room</span>
          <input
            type="text"
            th:field="*{ruanganDipakai}"
            class="form-control col-9"
          />
        </div>

        <br />

        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Start Date</span>
          <input
            type="date"
            th:field="*{tanggalMulai}"
            class="form-control col-9"
          />
        </div>

        <br />

        <div class="input-group col-sm-8">
          <span class="input-group-addon col-3">Abstract</span>
          <textarea maxlength="200" rows="3" type="text" th:field="*{abstrak}" class="form-control col-9" /></textarea> 
        </div>

        <br />
        <div>
          <input type="submit" value="Update Conference" class="btn btn-primary col-8" />
        </div>
      </center>
      <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"
      />
    </form>
  </center>
</div>

<script>
  $(document).ready(function() {});
</script>
<div th:replace="fragments/footer"></div>
